version: '3'
services:
  vault:
    image: hashicorp/vault:1.16.3
    network_mode: bridge
    container_name: ck-vault
    ports:
      - "8200:8200"
    restart: always
    environment:
      VAULT_ADDR: "https://127.0.0.1:8200"
    volumes:
      - ~/mnt/vault/logs:/vault/logs
      - ~/mnt/vault/file:/vault/file
      - ~/mnt/vault/config:/vault/config
      - ~/mnt/vault/certs:/vault/certs
    cap_add:
      - IPC_LOCK
    entrypoint: vault server -config=/vault/config/vault.hcl
    extra_hosts:
      - "ldap.chatopsknight.com:10.88.0.11"

